@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

/* nav {
  margin: 10px 100px;
} */


#search-hero {
  background-color: #f9df74;
  /* min-height: 30vh; */
}

#search-hero button {
  background-color: #2d232e !important;
  border-color: #2d232e !important;
  border-radius: 0 !important;
}

#search-hero input {
  border-radius: 0 !important;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px)  {
  nav {
  margin: 10px 300px;
  } */
/* } */